.idea/
hsac-fitnesse-fixtures.iml
target/
properties

bye.txt
wiki/bye.txt
greeting.txt
wiki/greeting.txt
copy/greetingCopy.txt
wiki/copy/greetingCopy.txt
greeting.html
wiki/greeting.html

wiki/plugins/hsac-fitnesse-plugin-*.jar
wiki/plugins/maven-classpath-plugin-*.jar
wiki/webdrivers

wiki/fitnesse-standalone.jar
wiki/fixtures/
wiki/FitNesseRoot/**/*.zip
wiki/FitNesseRoot/files/fileFixture
wiki/FitNesseRoot/files/downloads
wiki/FitNesseRoot/files/pagesources
wiki/FitNesseRoot/files/screenshots
wiki/FitNesseRoot/files/test
wiki/FitNesseRoot/files/testProgress
wiki/FitNesseRoot/files/testResults
wiki/FitNesseRoot/ErrorLogs
wiki/FitNesseRoot/FitNesse
wiki/FitNesseRoot/PageFooter
wiki/FitNesseRoot/PageHeader
wiki/FitNesseRoot/RecentChanges*
wiki/FitNesseRoot/TemplateLibrary